# TypeScript source shouldn't be packaged
*.ts
!*.d.ts
*.tsbuildinfo

# Don't package dot-files
.*

# Don't package yarn lock
yarn.lock

# Don't package typescript configuration
tsconfig.json

# Don't package coverage data
/coverage
